* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    width: 750px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    position: relative;
}

.btn {
    margin: 10px;
    padding: 14px 50px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.yellow {
    background-color: rgb(251, 188, 0);
    color: white;
}
.yellow > a {
    color: white;
}

.white {
    background-color: white;
    color: black;
}
.white > a {
    color: black;
}

footer {
    margin-top: 70px;
    padding: 2rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}