@charset "UTF-8";

/* Before login start */
#before-login {
    height: 100vh;
    background-image: url("../images/start_backgorund.png");
    background-position: center;
    background-size: 630px;
    background-repeat: no-repeat;
    position: relative;
}

#title {
    margin: 0 auto;
    padding-top: 270px;
    text-align: center;
    font-family: 'Jua', sans-serif;
}

#title h2 {
    font-size: 24px;
    font-weight: lighter;
}

#title h1 {
    font-size: 65px;
    font-weight: lighter;
}

#register {
    position: absolute;
    left: calc(50% - (196px/2));
    bottom: 180px;
}

#register .btn {
    padding: 14px 66px;
    font-size: 16px;
    display: block;
}

#register #login-btn {
    padding: 14px 74px;
}
/* Before login end */


/* content start */
#add {
    padding-top: 5px;
    padding-right: 5px;
    transform: scale(1.4);
    float: right;
    color: black;
    /* color: rgb(255, 208, 0); */
}

#add:hover {
    /* color: rgb(236, 193, 0); */
}

.container {
    padding: 2rem;
    width: 100%;
}

.container h3 {
    font-family: 'Jua', sans-serif;
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.container ul {
    display: grid;
    gap: 1rem;
}

.container li {
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    /* box-shadow: 0px 2px 5px rgba(0,0,0,0.1); */
    position: relative;
}

#todo-list ul {
    grid-template-columns: 1fr 1fr 1fr;
}

#todo-list li > div:nth-child(1) {
    margin-bottom: 2.2rem;
}

#todo-list li > div:nth-child(2) {
	padding: 0 1rem;
	width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 1rem;
    left: 0;
    font-size: 12px;
    color: #bbb;
}

#todo-list li > div:nth-child(2) span {
    padding: 0 1px;
}

#todo-list li a {
	color: #bbb;
}

#todo-list li a:hover {
    text-decoration: underline;
}

#others-list ul {
    margin-bottom: 167px;
    grid-template-columns: 1fr 1fr;
}

.over {
	text-decoration: line-through;
	color: gray;
}

#others-list li > a {
    display: flex;
    color: #444;
}

#others-list .user-img {
    width: 60px;
    height: 60px;
}

#others-list .user-info {
    margin-left: 1rem;
}

#others-list .user-info > span:nth-child(1) {
    margin-top: 5px;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

#others-list .user-info > span:nth-child(1):hover {
    text-decoration: underline;
}

#others-list .user-info span {
    display: block;
}
/* content end */

