@charset "UTF-8";

/* 시작 화면 */
#start-background {
    background-image: url("/images/start_backgorund.png");
    background-size: cover;
    position: relative;
}

#title {
    margin: 190px auto 0 auto;
    text-align: center;
    font-family: 'Jua', sans-serif;
}

#title h2 {
    font-size: 20px;
    font-weight: lighter;
}

#title h1 {
    font-size: 55px;
    font-weight: lighter;
}

#register {
    position: absolute;
    left: calc(50% - (184px/2));
    bottom: 65px;
}

#register .btn {
    font-size: 16px;
    display: block;
}

#register > a:nth-child(2) > .btn {
    padding: 14px 58px;
}


/*  */