@charset "UTF-8";

h1 {
    padding-top: 150px;
    text-align: center;
    font-family: 'Jua', sans-serif;
    font-size: 42px;
    font-weight: lighter;
}

form {
    margin: 50px auto 0 auto;
    width: 300px;
}

label {
    color: #555;
    font-size: 14px;
}

input[type='text'], input[type='password'], select {
    margin: 3px 0 10px 0;
    padding: 6px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 4px;
}

#userMotto {
    margin-bottom: 35px;
}

#T {
    margin-left: 2rem;
    margin-right: 10px;
}

#F {
    margin-left: 42px;
    margin-right: 10px;
}

form > div:nth-child(2) {
    margin-top: 50px;
    text-align: center;
}

button {
    font-size: 15px;
}