@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

.wrapper {
    margin: 0 auto;
    width: 770px;
    min-height: 100vh;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    position: relative;
}

.btn {
    margin: 10px;
    padding: 14px 50px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.yellow {
    background-color: rgb(251, 188, 0);
    color: white;
}
.yellow > a {
    color: white;
}

.white {
    background-color: white;
    color: black;
}
.white > a {
    color: black;
}


/* Header start */
header {
    padding: 1rem 2rem 2rem 2rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: right;
}

nav ul {
    display: flex;
}

nav li {
    margin-left: 1rem;
    font-size: 13px;
}

nav li a {
    color: #bbb;
}
nav li a:hover {
    text-decoration: underline;
}

#profile {
    width: 100%;
    display: flex;
}

#profile .user-img {
    width: 90px;
    height: 90px;
    background-color: white;
}

.user-img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    overflow: hidden;
}

.user-img > img {
	padding: 8px;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#profile .user-info {
    padding-left: 20px;
}

#profile .user-info span {
    display: block;
}

#profile .motto {
    margin-top: 10px;
}

#profile .user-id {
    margin-top: 6px;
    font-family: 'Jua', sans-serif;
    font-size: 28px;
    font-weight: lighter;
}

#profile .user-id i {
    /*margin-right: 0.5rem;*/
    font-size: 22px;
}
/* Header end */


/* Footer start */
footer {
    margin-top: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 107px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Footer end */

