<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 폰트 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fontawesome/css/font-awesome.min.css">
    <!-- 스타일 링크 -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/register.css">
</head>
<body>
    <div class="wrapper">
        <h1>로그인</h1>

        <form action="/updateTodo" method="post" accept-charset="UTF-8">
            <div>
                <label for="todo">할 일</label><br>
                <input type="text" name="todo" id="todo" value="<%= todo.getTodo() %>"><br>

                <label for="deadline">기한</label><br>
                <input type="date" name="deadline" id="deadline" value="<%= todo.getDeadline() %>"><br>
                
                <input type="hidden" name="idx" value="<%= idx %>">
            </div>
            <div>
                <button type="submit" class="btn yellow">수정</button>
            </div>
        </form>

        <footer>
            <small>
                My List, your own shining todo list.<br>
                YYDH Software development 20604 Jiwon Jang
            </small>
        </footer>
    </div>
</body>
</html>